<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}" rel="stylesheet" />

  	<link rel="stylesheet" type="text/css" media="all"
          href="../../css/blog-home.css" th:href="@{/css/blog-home.css}" />
          
  
     <script src="../../js/jquery.js"
      th:src="@{/js/jquery.js}"></script>
    
    <script src="../../js/tether.min.js"
      th:src="@{/js/tether.min.js}"></script>
    
    <script src="../../js/bootstrap.min.js"
      th:src="@{/js/bootstrap.min.js}"></script>
          
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>
</head>
<body>
  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Tech Reviews</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
              
                <h1 class="my-4">Rocket Reviews</h1>
               
                <!-- Blog Post -->
                <div class="card mb-4">
                   <h3 th:text="${rocketReviews.title}" />
                   <img th:src="${rocketReviews.imageUrl}" style="height:300px;" class="card-img-top img-fluid"/>
                   <div class="card-block">
                       <p class="card-text" th:text="${rocketReviews.content}"></p>
                   </div>
                   <div class="card-footer text-muted">
                       from <spoan th:text="${rocketReviews.reviewCategory}" />  | Posted on 
                   </div>
               </div>
                  
		   <!-- end Blog Col -->
           </div>

               <!-- Sidebar Widgets Column -->
               <div class="col-md-4">
                   <!-- Categories Widget -->
                   <div class="card my-4">
                       <h5 class="card-header">Categories</h5>
                       <div class="card-block">
                           <div class="row">
                               <div class="col-lg-6">
                                   <ul class="list-unstyled mb-0">
                                       <li><a th:href="@{/showReviews}">modern sci-fi</a></li>
                                       <li><a th:href="@{/showTechReviews}">techFYI</a></li>
                                       <li><a th:href="@{/showRocketReviews}">rockets</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- /.row -->

       </div>
       <!-- /.container -->

       <!-- Footer -->
       <footer class="py-5 bg-inverse">
           <div class="container">
               <p class="m-0 text-center text-white">Copyright &copy; Way Cool Digital 2017</p>
           </div>
           <!-- /.container -->
       </footer>

</body>
</html>
